# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/

# Android Studio
*.iml
.idea/
.navigation/
captures/
output.json

# NDK
obj/
.externalNativeBuild/

# OS
.DS_Store
Thumbs.db
